#app {
    min-width: 320px;
    min-height: 100vh;
    margin: 0;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI,
    Arial, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    background-color: #f4f4f5;
    overflow-x: hidden !important;
}

.screen-reader-text,
.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.d-grid {
    display: grid;
    grid-template-columns: 1fr 5fr;
}